/* megamenu styles */
.mega-menu {
    opacity: 0;
    visibility: hidden;
    z-index: -900;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
}

.mega-menu .nav-list{
    opacity: 0;
    margin-top: -25px;
    transition: all 0.33s ease-in-out 0.11s;
}

/* #hoverable Class Styles */
.hoverable {
    position: static;
}

.hoverable:hover .mega-menu {
    opacity: 1;
    visibility: visible;
    z-index: 900;
}

.hoverable:hover .mega-menu .nav-list{
    opacity: 1;
    margin-top: 0;
}