@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helvetica";
    src: url('../src/font/Helvetica.ttf') format('truetype');
}

html {
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 1.5px;
}