@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica";
  src: url('../src/font/Helvetica.ttf') format('truetype');
}

html {
  font-family: 'Helvetica', sans-serif;
  letter-spacing: 0.5px;
}

.radial-gradient {
  background: rgb(0, 54, 32);
  background: radial-gradient(circle, rgba(0, 54, 32, 1) 0%, rgba(23, 23, 23, 1) 100%);
}

/* Define CSS animation for expanding */
@keyframes expand {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 200px;
    /* Adjust this value according to your content */
  }
}

/* Define CSS animation for collapsing */
@keyframes collapse {
  0% {
    max-height: 200px;
    /* Adjust this value to match the expanded height */
  }

  100% {
    max-height: 0;
  }
}

/* Apply transition effect to smoothly transition between states */
.transition {
  transition: max-height 0.5s ease;
}

/* swiper styles */
.swiper-slide-active>div {
  box-shadow: none !important;
  border: 4px solid #9FE870;
  background-color: #9FE8700A;
}

/* sticky nav styles */
.sticky-nav {
  box-shadow: 0px 10px 15px -6px #f1ffe82c;
}

.swiper-pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet{
  margin-left: 0px !important;
  margin-right: 20px !important;
  background-color: #686868 !important;
  width: 20px !important;
  height: 20px !important;
}
.swiper-pagination-bullet-active{
  background-color: #9FE870 !important;
  width: 27px !important;
  height: 27px !important;
}